# environment variables
.env
.env.local
backend/.env
frontend/.env.local

# dependencies
node_modules/
frontend/node_modules/

# builds
.next/
frontend/.next/
dist/
build/

# python
.venv/
backend/.venv/
__pycache__/
*.pyc

# misc
.DS_Store

ecs-task-definition.json
ssm-read-policy.json